.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.body, .jumbotron{
    background-color: #E9ECEF;
}
.nav-link{
    display: inline-block;
    color:#fff;
    margin-left: 10px;
    text-decoration: none;
    padding: 5px 80px;
    line-height: normal;
    font-size: 18px;
    font-weight:normal; /*tipo de fuente*/
    /*efecto de animación*/
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.nav-link:hover{ /*crear bordo a los botones*/
    background: rgb(33, 136, 56);
    border-radius: 50px;
}

/*INICIO DE CONFIGURACION DEL ESTILO DE LA VENTANA DE SIGN IN*/
.overlay{/*es la pantalla en general del popup y mas a fondo oscuro cuando aparece la ventana*/
    background: rgba(0, 0, 0, .4);
    position: fixed;/*que el popup no se mueva*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* que no esté visible inicialmente*/
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;/*tipo de fuente*/
    padding: 20px;
    text-align: center;
    width: 500px;
    color: black;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0; /*volvemos el popup invisible jua jua jua*/

}
.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #888888;
    transition: .3s ease all; /*permite asignarle tiempo a la transicion*/
}
.popup .btn-cerrar-popup:hover{
    color:black;
}
.popup h3{/*caracteristicas del titulo del popup*/
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}
.popup h4{/*caracteristicas del subtitulo del popup*/
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}
.popup form .contenedor-inputs{/*opasidad del contenedor de los inputs*/
    opacity: 0;
}
.popup form .contenedor-inputs input{/*le damos preferencias a los inputs*/
    width: 100%;
    margin-bottom: 28px;
    height: 37px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #888888;
}
.popup form .btn-submit{/*le damos caracteristicas a el botón submit*/
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #41b436;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popup form .btn-submit:hover{/*hacemos que el botón submit cambie de color al posicionar el cursor sobre este*/
    background: #79e76f;
}
.popup.active{/*preferencias del popup cuando se encuentra en modo activo*/
    opacity: 1;
    transform: scale(1);
}
/*ANIMACIONES DE LOS ELEMENTOS INTERNOS*/
.popup.active h3{animation: entradaTitulo .8s ease .5s forwards;}
.popup.active h4{animation: entradaSubtitulo .8s ease .5s forwards;}
.popup.active .contenedor-inputs{animation: entradaInputs 1s ease 1s forwards;}
@keyframes entradaTitulo {/*"efecto de entrada de el titulo"*/
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaSubtitulo {/*"efecto de la entrada del subtitulo"*/
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaInputs {/*"efecto" de la entrada de los inputs*/
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
